* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(30, 30, 30);
    background:#ddddff;
}

#title {
    color: blue;
    background-color: lightgray;
}

.desc {
    color: darkgreen;
    font-size: 18px;
    font-weight: 700;
}