*:not(h1, h2, h3, h4, img, p, ul, ol, li) {
    background-color:#DBFFD6;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #5D5B6A;
}

#title {
    background-color: #ceb5b7;
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    width: 1000px;
    margin: 30px auto;
    border: 5px solid #B17C82;
    border-radius: 10px;
}
/* Need to implement separate image styles for homepage and recipe pages */
img {
    display: block;
    margin: 3px auto;
    border: 5px solid #B17C82;
    border-radius: 8px;
}

h2,
h4 {
    border-radius: 5px;
    padding: 10px;
}

h2 {
    background-color: #fee558;
}

h4 {
    background-color: #58b9fe;
}

.homepage-link {
    width: fit-content;
    margin: 0 auto;
}

.links,
.tryothers {
    font-family: 'Courier New', Verdana, sans-serif;
    font-size: 18px;
    font-weight: 700;
}

.links {
    background:#FFF5BA;
    display: block;
    margin: 20px auto 0 auto;
    text-align: center;
}

.tryothers {
    background:#baedff;
    display: inline-block;
    margin: 3px;
}

.contents-box {
    background:#FFF5BA;
    width: 1100px;
    margin: 12px auto;
    border: 5px solid #D3DC92;
    border-radius: 10px;
    padding: 0 20px 10px 10px;
}

.links-box {
    background:#baedff;
    width: 500px;
    margin: 12px auto;
    border: 5px solid #929cdc;
    border-radius: 10px;
    padding: 0 10px 10px 10px;
}